<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>About Us</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="author" content="Andrew Chepey - andrew.chepey@tamu.edu; Amanda Schlaudt - aschlaudt@tamu.edu"/>

	<link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/style.css">
	<script type="text/javascript" src="static/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="/">Cupboard Companion</a>
  	</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about-us.html">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header text-center">
	<div class="image-container">
		<img src="../static/images/icon.png" style="width: 100%" class="img-rounded">
	</div>
	<h1>We are Cupboard Companion!</h1>
	<h3>Allow us to introduce ourselves</h!3>
</div>
<div class="col-md-2"></div>
<div class="col-md-8 text-center">
	Our names are Andrew and Amanda, and we are the masterminds behind Cupboard Companion.
	 We created this tool as part of our Information and Retrieval course at Texas A&M University.
	 When thinking about the design of Cupboard Companion, we came up with two primary goals that
	 we wanted to meet - providing simple recipes and helping the environment. Read on to see how
	 we do it.
</div>
<div class="col-md-2"></div>
<div class="fluid-container">
  <div class="row">
  <div class="col-md-5 col-md-offset-1">
	<div class="page-header text-center">
	  <div class="image-container">
		<img src="../static/images/simple.png" style="width: 40%" class="img-rounded">
	  </div>
      <h3>Simplicity</h3>
	</div>
  </div>
  <div class="row">
  <div class="col-md-5">
	<div class="page-header text-center">
	  <div class="image-container">
		<img src="../static/images/sustainable.png" style="width: 40%" class="img-rounded">
	  </div>
      <h3>Sustainability</h3>
	</div>
  </div>
 <div class="col-md-1"></div>
  </div>
 </div>
 <div class="row">
 <div class="col-md-1 text-center"></div>
 <div class="col-md-5 text-center">
	Our world is a busy one, and as we try to balance our time well, technology has given us new ways of
	 maximizing our time and making processes more efficent. Why can't cooking be one of those things? At
	 Cupboard Companion, we want to make food simple. We give you recipes that use the ingredients you already
	 have. We check the time and complexity of different recipes and see to it that the simplest ones are
	 what get back to you. Say goodbye to the days of staring blankly into the fridge claiming you have nothing
	 to eat - it's time to make cooking something that's worth your time.
 </div>
  <div class="col-md-5 text-center border-left">
	Did you know that approximately 40 percent of food in America is wasted? Some of that waste happens in
	 the farming and processing stages, but a big portion of it is on our shoulders. Pause for a moment and
	 think about all the food that you throw away. It's probably more than you realized. Not only is it a huge
	 waste of money, it's also bad for the environment. Cupboard Companion aims to help reduce food waste by
	 showing you recipes that use those random ingredients you don't know what to do with. That way you can
	 find delicious new meals while using up the groceries you already have. Win for you, win for the world.
 </div>
  <div class="col-md-1 text-center"></div>
 </div>
 </div>
</html>
