<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
  <title>Cupboard Companion - Recipe List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="author" content="Andrew Chepey - andrew.chepey@tamu.edu; Amanda Schlaudt - aschlaudt@tamu.edu"/>

  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script type="text/javascript" src="../static/js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="/">Cupboard Companion</a>
  	</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about-us.html">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header text-center">
  <h1>Here be your simple recipes!</h1>
  {% for item in tempList%}
    <p>The {{loop.index}} item is this: {{item}}</p>
  {% endfor %}
</div>
<div class="fluid-container">
{% for group_of_3 in tempList|batch(3) %}
  <div class="row">
    <div class="col-md-1"></div>
      {% for recipe in group_of_3 %}
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" data-src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{recipe}}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
{% endfor %}
</div>