<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
  <title>Cupboard Companion - Recipe List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="author" content="Andrew Chepey - andrew.chepey@tamu.edu; Amanda Schlaudt - aschlaudt@tamu.edu"/>

  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script type="text/javascript" src="../static/js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="/">Cupboard Companion</a>
  	</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about-us.html">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>
{% set count = [] %}
<div class="page-header text-center">
  <h1>Here be your simple recipes!</h1>
  {% for item in tempList%}
    <p>The {{loop.index}} item is this: {{item}}</p>
  {% endfor %}
</div>
<div class="fluid-container">
{% for group_of_3 in tempList|batch(3) %}
  <div class="row card-same-height">
    <div class="col-md-1"></div>
      {% for recipe in group_of_3 %}
        <div class="col-md-3 card-same-height">
          <div class="card" id="recipe{{count|length}}-card">
            <img class="card-img-top" style="width: 100%; padding: 15px;" src={{recipe.imageURL}} alt={{recipe.name}}>
            <div class="card-block">
              <h4 class="card-title" style="text-align: center;">{{recipe.name}}</h4>
              <h6 class="card-subtitle text-muted" style="text-align: center;">Total Time: {{recipe.totalTime}} </h6>
              <hr>
              <h4 class="card-title">Ingredients</h4>
              <ul class="list-group">
                {% for ingredient in recipe.ingredients %}
                  <li class="list-group-item">{{ingredient}}</li>
                {% endfor %}
              </ul>
            </div>
            <a href="/recipe/{{recipe.name}}" id="recipe{{count|length}}-button" class="btn btn-primary card-button">Looks Delicious!</a>
          </div>
        </div>
        {% do count.append(1) %}
      {% endfor %}
  </div>
  <hr>
{% endfor %}
<script>
            $(function(){
              var numRecipes = $('.card-button').size();

              for(i = 0; i < numRecipes;i++) {
                var $but = $('#recipe'+i+'-button');
                var $card = $('#recipe'+i+'-card')
                var bottom_button = $but.position().top + $but.outerHeight(true);
                var bottom_card = $card.position().top + $card.outerHeight(true);

                var difference = bottom_card - bottom_button - 29.25;
                $but.css("margin-top",""+difference);
              }
            });
            </script>
</div>